
/* CUSTOM FONTS
-------------------------------------------------- */
@font-face {
	font-family: 'CarbonType';
	src: url('fonts/CarbonType.eot');
	src: url('fonts/CarbonType.eot?#iefix') format('embedded-opentype'),
		 url('fonts/CarbonType.woff2') format('woff2'),
		 url('fonts/CarbonType.woff') format('woff'),
		 url('fonts/CarbonType.ttf') format('truetype'),
		 url('fonts/CarbonType.svg#CarbonType') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'LMMono10';
	src: url('fonts/LMMono10-Regular.eot');
	src: url('fonts/LMMono10-Regular.eot?#iefix') format('embedded-opentype'),
		 url('fonts/LMMono10-Regular.woff2') format('woff2'),
		 url('fonts/LMMono10-Regular.woff') format('woff'),
		 url('fonts/LMMono10-Regular.ttf') format('truetype'),
		 url('fonts/LMMono10-Regular.svg#LMMono10-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
.CarbonType-text {
	font-family: "CarbonType", "Helvetica Neue", Arial, sans-serif;
}
.LMMono10-text {
	font-family: "LMMono10", "Helvetica Neue", Arial, sans-serif;
}
body {
	font-size: 14px;
}
a {
	color: #b64851;
	transition: all .2s ease;
}
a:hover,
a:focus {
	color: #8a222a;
	outline: none;
	text-decoration: none;
}
.body-inverse {
	background-color: #231f20;
	color: #f3ece4;
}
.menu-toggle {
	display: block;
	height: 40px;
	overflow: hidden;
	position: relative;
	width: 40px;
}
.menu-toggle .icon-bar {
	display: block;
	height: 2px;
	position: absolute;
	right: 9px;
	top: 0;
	transition: all 0.3s ease;
	width: 22px;
}
.menu-toggle-inverse .icon-bar {
	background-color: #fff;
}
.menu-toggle .b1 {
	top: 12px;
}
.menu-toggle .b2 {
	top: 19px;
	transform: translateX(0);
}
.menu-toggle .b3 {
	top: 26px;
}
.mm-opened .menu-toggle .b1 {
	top: 19px;
	transform: rotate(45deg);
}
.mm-opened .menu-toggle .b2 {
	transform: translateX(31px);
}
.mm-opened .menu-toggle .b3 {
	top: 19px;
	transform: rotate(-45deg);
}
.mm-menu.mm-theme-black {
	background: #323338 ;
	background: linear-gradient(135deg, #323338 10%,#1a1b22 70%);
}
.mm-menu > .mm-navbar,
.mm-panels,
.mm-panels > .mm-panel {
	background: none;
}
.mm-navbar,
.mm-listview {
	font-family: "CarbonType", "Helvetica Neue", Arial, sans-serif;
}
.mm-navbar-size-3 {
	height: 140px;
}
.mm-navbar-top-1 {
	text-align: center;
	position: relative;
}
.mm-navbar-top-1:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	width: 1px;
}
.mm-navbar-top-1 > img {
	display: inline-block;
	opacity: .25;
	vertical-align: middle;
}
.mm-navbar-top .icon-wrapper {
	background-position: center top;
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	height: 34px;
	margin-right: .5rem;
	text-align: center;
	vertical-align: middle;
	width: 34px;
}
.mm-navbar-top-4 {
	font-size: 12px;
	height: 54px;
	text-transform: uppercase;
	top: 140px;
}
.mm-hasnavbar-top-4 .mm-panels {
	top: 192px;
}
.mm-panels > .mm-panel.mm-hasnavbar {
	padding-top: 50px;
}
.mm-panels .mm-panel .mm-navbar {
	height: 50px;
}
.mm-panels .mm-panel .mm-navbar a {
	padding: 15px 0;
}
.mm-panels .mm-panel .mm-navbar .mm-btn {
	height: 50px;
}
.mm-listview li:last-child:after {
	content: none;
	display: none;
}
.mm-listview > li > a,
.mm-listview > li > span {
	padding-bottom: 15px;
	padding-top: 15px;
}
.mm-listview a,
.mm-listview .nav-link {
	color: rgba(255, 255, 255, 0.6);
}
.mm-listview a:hover,
.mm-listview a:hover + .nav-link {
	color: #fff;
}

.animated {
	-webkit-animation-duration: .65s;
	animation-duration: .65s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.flash {
	-webkit-animation-name: flash;
	animation-name: flash;
}
@-webkit-keyframes flash {
	from, 50%, to {
		border-color: rgba(255, 255, 255, .5);
		color: inherit;
		opacity: .7;
	}
	25%, 75% {
		border-color: rgba(255, 255, 255, .85);
		color: #fff;
		opacity: .85;
	}
}
@keyframes flash {
	from, 50%, to {
		border-color: rgba(255, 255, 255, .5);
		color: inherit;
		opacity: .7;
	}
	25%, 75% {
		border-color: rgba(255, 255, 255, .85);
		color: #fff;
		opacity: .85;
	}
}
.ob-pagecontent {
	position: relative;
}
.table.ob-table-striped th,
.table.ob-table-striped td {
	border-top: none;
}
.table.ob-table-striped thead th {
	border-bottom: none;
}
.ob-table-striped tbody tr:nth-of-type(2n+1) {
	background-color: rgba(255,255,255,0.15);
}
.ob-section-wrapper {
	margin-left: auto;
	margin-right: auto;
	padding-left: 3rem;
	padding-right: 3rem;
	width: 100%;
}
.img-thumb {
	display: inline-block;
	height: auto;
	margin-bottom: 1.5rem;
	max-width: 100%;
	width: 100%;
}
.img-thumb a {
	display: block;
	width: 100%;
}
.img-thumb img {
	display: block;
	height: auto!important;
	margin: 0 auto;
	max-width: 100%
}
.img-thumb .icon-zoom-in {
	background-image: url("../img/icon-zoom-in.svg");
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;
	display: inline-block;
	height: 36px;
	width: 36px;	
}
.thumb-framed {
	position: relative;
}
.thumb-framed .frame-tl,
.thumb-framed .frame-tr,
.thumb-framed .frame-bl,
.thumb-framed .frame-br {
	background-position: left top;
	background-repeat: no-repeat;
	display: block;
	height: 52px;
	position: absolute;
	width: 52px;
}
.thumb-framed .frame-tl {
	background-image: url("../img/frame-top-left.png");
	left: -16px;
	top: -16px;
}
.thumb-framed .frame-br {
	background-image: url("../img/frame-bottom-right.png");
	bottom: -16px;
	right: -16px;
}
.ob-right-arrow,
.ob-left-arrow {
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;
	display: block;
	height: 13px;
	width: 61px;
}
.ob-right-arrow {
	background-image: url("../img/ob-right-arrow.png");
}
.ob-left-arrow {
	background-image: url("../img/ob-left-arrow.png");
}
.social-icon,
.product-info-icon {
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;
	display: block;
	height: 30px;
	width: 30px;
}
.social-icon.instagram-icon {
	background-image: url("../img/social-icon-instagram.png");
}
.social-icon.twitter-icon {
	background-image: url("../img/social-icon-twitter.png");
}
.social-icon.facebook-icon {
	background-image: url("../img/social-icon-facebook.png");
}
.product-info-icon.icon-details {
	background-image: url("../img/icon-details.svg");
}
.product-info-icon.icon-specification {
	background-image: url("../img/icon-specification.svg");
}
.product-info-icon.icon-sizing-info {
	background-image: url("../img/icon-sizing-info.svg");
}
.page-title {
	border-bottom: 1px solid #b64851;
	font-size: 1.5rem;
	line-height: 2;
	margin-bottom: 2rem;
}
.required {
	color: #b64851;
	margin-left: 5px;
}
.required.before {
	margin-left: 0;
	margin-right: 5px;
}
.hero-img-wrapper {
	width: 100%;
}
#ob-map.hero-img-wrapper {
	height: 489px;
}
@media (max-width: 991px) {
	#ob-map.hero-img-wrapper {
		height: 420px;
	}
}
@media (max-width: 767px) {
	#ob-map.hero-img-wrapper {
		height: 340px;
	}
}
@media (max-width: 543px) {
	.hero-img-container {
		padding-left: 0;
		padding-right: 0;
	}
	#ob-map.hero-img-wrapper {
		height: 300px;
	}
}
.hero-section {
	background-color: transparent;
	position: relative;
}
.hero-video-wrapper {
	left: 0;
	height: 540px;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: -1;
}
.hero-video-wrapper .hero-video {
	left: 0;
	position: absolute;
	top: -20%;
}
@media (min-width: 1199px) {
	.hero-video-wrapper .hero-video {
		width: 100%;
	}
}
.hero-content {
	align-content: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 0 auto;
	max-width: 800px;
	min-height: 540px;
	padding-bottom: 108px;
	width: 80%;
}
.hero-content > * {
	flex: 1 1 100%;
}
.hero-content p:last-of-type {
	margin-bottom: 0;
}
.mto-cat-section {
	margin-top: -108px;
}
.mto-cat-box {
	background-color: #eee;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: none;
	box-shadow: 0 0 8px rgba(255, 255, 255, 0.25);
	margin-bottom: 1.5rem;
	min-height: 250px;
}
.mto-cat-box.mto-cat-shirt {
	background-image: url("../img/bg-fabric360.jpg");
}
.mto-cat-inner {
	align-content: center;
	background-color: rgba(0, 0, 0, 0.3);
	border: 2px dashed rgba(255, 255, 255, 0.3);
	bottom: 15px;
	display: flex;
	flex-flow: row wrap;
	left: 15px;
	justify-content: center;
	right: 15px;
	top: 15px;
}
.mto-cat-inner .card-title,
.mto-cat-inner .card-text {
	margin-bottom: .5rem;
}
.mto-cat-inner .card-title {
	color: #b54851;
}

/* PAGINATION
-------------------------------------------------- */
.ob-pagination .pagination {
	align-items: center;
	border-top: 1px dotted rgba(255,255,255,.3);
	display: flex;
	justify-content: center;
	margin-top: 0;
	padding: 30px 0;
}
.ob-pagination .pagination:not(.post-navigation) .page-item {
	margin: 0 1rem;
}
.ob-pagination .pagination.post-navigation {
	justify-content: space-between;
	margin-bottom: 0;
}
.ob-pagination .page-link {
	color: #818a91;
	margin-left: 0;
	opacity: 0.7;
	padding: 0;
}
.ob-pagination .page-link,
.ob-pagination .page-item.disabled .page-link,
.ob-pagination .page-item.disabled .page-link:focus,
.ob-pagination .page-item.disabled .page-link:hover {
	background-color: transparent;
	border-color: transparent;
}
.ob-pagination .page-item.disabled .page-link,
.ob-pagination .page-item.disabled .page-link:focus,
.ob-pagination .page-item.disabled .page-link:hover {
	opacity: 0.3;
}
.ob-pagination li:not(.next-page):not(.prev-page) .page-link {
	border-radius: 50%;
	height: 40px;
	line-height: 38px;
	width: 40px;
}
.ob-pagination .page-link:hover {
	opacity: 1;
}
.ob-pagination .page-item.active .page-link,
.ob-pagination .page-item.active .page-link:focus,
.ob-pagination .page-item.active .page-link:hover {
	background-color: transparent;
	border-color: #b64851;
	color: #b64851;
	opacity: 1;
}

/* HEADER
-------------------------------------------------- */
.top-banner {
	/*background-image: url("../img/bg-top-banner.jpg");
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: 657px auto;*/
	padding-bottom: 92px;
	position: relative;
}
.top-banner .logo-wrapper {
	background-image: url("../img/bg-header-row.jpg");
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: auto;
	padding-bottom: 30px;
	padding-top: 24px;
	position: relative;
}
.top-banner .logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 362px;
}
.logo img {
	height: auto;
	width: 100%;
}
.top-banner .menu-toggle {
	left: 15px;
	margin-top: -20px;
	position: absolute;
	top: 50%;
}

/* Mini Nav */
.user-tools {
	margin-top: -35px;
	position: absolute;
	right: 15px;
	top: 50%;
}
.user-tools .mini-nav {
	margin-bottom: 0;
}
.mini-nav > li {
	display: inline-block;
	position: relative;
}
.mini-nav .label {
	font-size: 10px;
	letter-spacing: -0.05em;
	text-transform: uppercase;
}
.mini-nav > li > a {
	color: #b54851;
}
.mini-nav .icon-wrapper {
	background-position: center top;
	background-repeat: no-repeat;
	background-size: contain;
	display: block;
	height: 42px;
	line-height: 46px;
	margin: 0 auto;
	text-align: center;
	width: 42px;
}
.mini-nav .cart-icon,
.mm-navbar-top .cart-icon {
	background-image: url("../img/icon-cart.png");
}
.mini-nav .login-icon,
.mm-navbar-top .login-icon {
	background-image: url("../img/icon-login.png");
}
.mini-nav .items-count {
	font-size: .9em;
}
.mini-nav .dropdown {
	opacity: 0;
	position: absolute;
	right: -15px;
	top: 100%;
	transition: all .3s ease-in-out;
	visibility: hidden;
	width: 320px;
	z-index: 1002;
}
.mini-nav .dropdown-wrapper {
	background-color: #fff;
	border-radius: 4px;
	margin-top: 10px;
	padding: 1rem;
	position: relative;
}
.mini-nav .dropdown-wrapper:after {
	border-bottom: 6px solid #fff;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	content: "";
	height: 0;
	position: absolute;
	right: 36px;
	top: -6px;
	width: 0;
}
.mini-nav li.item-hovered .dropdown {
	opacity: 1;
	visibility: visible;
}
.cart-dropdown .cart-content {
	position: relative;
}
.cart-dropdown .cart-item + .cart-item {
	border-top: 1px solid #eee;
	padding-top: 1rem;
}
.cart-dropdown .cart-item .media {
	margin-bottom: 0.5rem;
}
.cart-dropdown .product-thumb {
	height: 70px;
	width: 70px;
	margin-left: 0;
	margin-right: 1rem;
	padding-right: 0;
}
.cart-dropdown .item-details {
	padding: 5px 0;
}
.cart-dropdown .product-title,
.cart-dropdown .product-cat {
	line-height: 1.3;
	margin-bottom: 5px;
}
.cart-dropdown .product-title {
	font-size: 13px;
	letter-spacing: -1px;
	text-transform: uppercase;
}
.cart-dropdown .product-title a {
	color: #7a7a7a;
}
.cart-dropdown .product-title a:hover {
	color: #b64851;
}
.cart-dropdown .product-price {
	color: #b64851;
	margin-bottom: 0;
}
.cart-dropdown .product-cat {
	color: #aaa;
}
.cart-dropdown .text-muted {
	font-size: 14px;
}
.cart-dropdown .remove-item {
	font-family: "Helvetica Neue", Arial, sans-serif;
	align-items: center;
	display: flex;
}
.cart-action {
	display: flex;
	border-top: 1px solid #eee;
	padding: 1rem 0 .5rem;
}
.cart-action a {
	flex: 1 1 0;
	letter-spacing: -1px;
	opacity: .7;
}
.cart-action a:hover {
	opacity: 1;
}
.cart-action .act-view-cart {
	background-color: transparent;
	margin-right: 5px;
}
.cart-action .act-checkout {
	background-color: #b64851;
	border-color: #b64851;
	margin-left: 5px;
}

@media (max-width: 991px) {
	.top-banner {
		margin-bottom: 1rem;
		padding-bottom: 0;
	}
	.top-banner .logo {
		max-width: 300px;
	}
}
@media (max-width: 767px) {
	.top-banner .logo-wrapper {
		background-size: cover;
	}
	.top-banner .logo {
		max-width: 248px;
	}
}
@media (max-width: 543px) {
	.top-banner {
		margin-bottom: .5rem;
	}
	.top-banner .logo {
		max-width: 216px;
	}
}

/* MENU NAVIGATION
-------------------------------------------------- */
.ob-navbar {
	bottom: 0;
	/*margin-bottom: 1rem;*/
	opacity: 1;
	padding: 0;
	position: absolute;
	top: auto;
	width: 100%;
}
.ob-main-menu {
	font-size: 1rem;
	position: relative;
}
.navbar-header {
	display: none;
	left: 1.5%;
	max-width: 124px;
	position: absolute;
	top: 10px;
	z-index: 1;
}
.ob-main-menu .nav-item {
	display: inline-block;
	position: relative;
	text-transform: uppercase;
}
.ob-main-menu .nav-link {
	color: #f4ede5;
	display: block;
	padding: 34px 20px;
	overflow: visible;
	position: relative;
}
.ob-main-menu li.active .nav-link,
.ob-main-menu li .nav-link:hover {
	color: #b54851;
}
.ob-main-menu .nav-link .menu-title {
	display: block;
	transform: scale3d(1,1,1);
	transition: all 0.3s ease-in-out;
	position: relative;
}
.ob-main-menu li.active .menu-title:before,
.ob-main-menu li.active .menu-title:after {
	background: #b54851;
	content: "";
	display: block;
	position: absolute;
}
.ob-main-menu li.active .menu-title:before {
	background: url(../img/arrow-tip-diamond.png) top left no-repeat;
	bottom: -14px;
	height: 9px;
	left: 50%;
	margin-left: -10px;
	top: auto;
	width: 20px;
}
.ob-main-menu li.active .menu-title:after {
	bottom: -10px;
	height: 2px;
	left: 0;
	right: 0;
	top: auto;
	width: 100%;
}
.ob-main-menu li.item-hovered .nav-link .menu-title {
	transform: scale3d(0,0,0);
}
.nav-item .menu-badge {
	background-color: transparent !important;
	background-repeat: no-repeat;
	background-position: center;
	height: 90px;
	left: 50%;
	margin-left: -45px;
	position: absolute;
	top: 5px;
	transform: scale3d(0,0,0);
	transition: all 0.2s ease-in-out;
	width: 90px;
	z-index: 2000;
}
li#dry-goods.nav-item .menu-badge {
	background-image: url("../img/li-dry-goods.png");
}
li#stories.nav-item .menu-badge {
	background-image: url("../img/li-stories.png");
}
li#galleries.nav-item .menu-badge {
	background-image: url("../img/li-galleries.png");
}
li#guides.nav-item .menu-badge {
	background-image: url("../img/li-guides.png");
}
.ob-main-menu li.item-hovered .nav-link .menu-badge {
	transform: scale3d(1,1,1);
}
/* fixed navbar */
.ob-navbar.navbar-fixed-top {
	background: linear-gradient(#323338,#1a1b22);
	border-bottom:	1px solid #33343c;
	position: fixed;
}
.ob-navbar.navbar-fixed-top .ob-main-menu {
	background: url(../img/ob-menu-pattern-bg.png) repeat-x bottom left;
}

.ob-navbar.navbar-fixed-top .navbar-header {
	display: inline-block;
}

/* SUB MENU */
.ob-main-menu li .sub-menu {
	background-clip: padding-box;
	border: 0 none;
	border-radius: 0;
	left: 50%;
	list-style: outside none none;
	margin-top: -40px;
	opacity: 0;
	padding: 46px 0 30px;
	position: absolute;
	text-align: left;
	top: 100%;
	transform: translateX(-50%);
	transition: all .3s ease-in-out;
	visibility: hidden;
	width: 200px;
	z-index: 1000;
}
.ob-main-menu li .sub-menu:before,
.ob-main-menu li .sub-menu:after {
	content: "";
	display: block;
	left: 0;
	position: absolute;
	width: 100%;
}
.ob-main-menu li .sub-menu:before {
	background: url(../img/bg-submenu-top.png) no-repeat left top;
	height: 46px;
	top: 0;
}
.ob-main-menu li .sub-menu:after {
	background: url(../img/bg-submenu-bottom.png) no-repeat left top;
	bottom: 0;
	height: 30px;
}
.ob-main-menu li.item-hovered .sub-menu {
	opacity: 1;
	visibility: visible;
}
.ob-main-menu .sub-menu li {
	background-color: #fff;
	padding: 0 15px;
}
.ob-main-menu .sub-menu li a {
	color: #444;
	display: block;
	letter-spacing: -2px;
	padding: 5px 0;
	text-transform: capitalize;
}
.ob-main-menu .sub-menu li:not(:last-child) a {
	border-bottom: 1px solid #b54851;
}
.ob-main-menu .sub-menu li a:hover {
	color: #b54851;
	text-decoration: none;
}

/* TOP CATEGORIES
-------------------------------------------------- */
#ob-top-cats .cat-item {
	margin-bottom: 1rem;
}
#ob-top-cats .cat-link {
	color: #eedebf;
	display: block;
	opacity: .7;
}
#ob-top-cats .cat-link:hover,
#ob-top-cats .cat-link:focus {
	text-decoration: none;
}
#ob-top-cats .cat-link:hover {
	opacity: 1;
}
#ob-top-cats .cat-thumb {
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	margin-bottom: 1rem;
	min-height: 145px;
	position: relative;
	width: 100%;
}
#ob-top-cats .cat-thumb:hover {
	opacity: 1;
}
#cat-pants .cat-thumb {
	background-image: url("../img/cat-item-pants.png");
}
#cat-outers .cat-thumb {
	background-image: url("../img/cat-item-outers.png");
}
#cat-shirts .cat-thumb {
	background-image: url("../img/cat-item-shirts.png");
}
#cat-tees .cat-thumb {
	background-image: url("../img/cat-item-tees.png");
}
#cat-sundries .cat-thumb {
	background-image: url("../img/cat-item-sundries.png");
}
#cat-43200G .cat-thumb {
	background-image: url("../img/cat-item-43200G.png");
}

/* SLIDER
-------------------------------------------------- */
.slider-section {
	position: relative;
}
.swiper-container {
	max-width: 1080px;
	padding: 0;
}
.swiper-slide img {
	height: auto;
	width: 100%;
}
.prev, .next {
	cursor: pointer;
	height: auto;
	margin-top: -6px;
	position: absolute;
	text-indent: -9999em;
	top: 50%;
	left: 15px;
	width: 61px;
	z-index: 2;
}
.next {
	right: 15px;
	left: auto;
}
.prev.swiper-button-disabled,
.next.swiper-button-disabled {
	cursor: default;
	opacity: .5;
}

/* QUOTES
-------------------------------------------------- */
.quote-wrapper {
	padding-bottom: 40px;
	padding-top: 40px;
}
.quote-section .blockquote {
	border-left: none;
	margin-bottom: 0;
	padding: 1rem 30px .5rem;
	position: relative;
}
.quote-section .blockquote.small,
.contact-section strong {
	font-size: 0.875rem;
	line: 1.25;
}
#ob-quote .quote-before,
#ob-quote .quote-after {
	background-image: url("../img/quotes-sprite.png");
	background-repeat: no-repeat;
	background-position: left top;
	content: "";
	display: block;
	height: 36px;
	left: 0;
	position: absolute;
	top: 0;
	width: 24px;
}
#ob-quote .quote-after {
	background-position: right top;
	bottom: 0;
	left: auto;
	right: 0;
	top: auto;
}
.contact-section .contact-box {
	margin-bottom: 1.5rem;
}

/* FANCY SEPARATOR
-------------------------------------------------- */
.ob-fancy-title {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
	position: relative;
}
.ob-fancy-title h3 {
	flex: 0 0 auto;
	font-size: 24px;
	margin-bottom: 0;
}
.ob-fancy-title .separator-holder {
	flex: 1 0 auto;
}
.ob-fancy-title .separator-holder.left {
	padding-right: 1.5rem;
}
.ob-fancy-title .separator-holder.right {
	padding-left: 1.5rem;
}
.ob-separator:before {
	background: url(../img/arrow-tip-diamond.svg) no-repeat left top;
	content: "";
	display: block;
	height: 10px;
	left: -1px;
	position: absolute;
	top: -4px;
	width: 20px;
}
.ob-separator {
	/*background: repeating-linear-gradient(90deg, #b64851, #b64851 4px, transparent 4px, transparent 5px);*/ /* make dashed */
	background: #b64851;
	border-color: transparent;
	border-width: 0;
	height: 2px; /* Line Thickness */
	position: relative;
	width: 100%;
}
.separator-holder.left .ob-separator:before {
	left: auto;
	right: -4px;
}
.separator-holder.right .ob-separator:before {
	left: -4px;
	right: auto;
}
.separator-holder.center .ob-separator:before {
	left: 50%;
	margin-left: -10px;
}
.ob-separator.center-separator:before {
	left: 50%;
	margin-left: -10px;
}

/* PRODUCTS
-------------------------------------------------- */
.products-slider,
.related-products-slider {
	position: relative;
	width: 100%;
}
.swiper-button-next, .swiper-button-prev {
	background-size: contain;
	height: 32px;
	width: 20px;
}
.product-inner {
	padding: 16px;
}
.product-thumb {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 300px;
	width: 100%;
}
.product-thumb .product-link {
	display: block;
}
.product-summary {
	margin-left: auto;
	margin-right: auto;
	max-width: 332px;
	width: 100%;
}
.product-title {
	font-size: 1.75rem;
	line-height: 1.5;
	text-transform: uppercase;
}
.product-list .product-title,
.product-list .product-cat,
.product-list .product-price {
	font-size: 12px;
	margin-bottom: 0;
}
.product-summary .product-title a:before {
	content: "-";
	margin-right: .5rem;
}
.product-title a {
	color: inherit;
}
.product-list .product-price {
	color: #b64851;
}
.product-price .currencySymbol {
	margin-right: 10px;
}
#ob-page.products .product-list .product-item {
	margin-bottom: 15px;
}

.product-details {
	margin-bottom: 60px;
}
.product-details .product-title {
	margin-bottom: 3rem;
}
#product-form {
	margin-bottom: 3.5rem;
}
.related-products-section .ob-fancy-title h3 {
	font-size: 22px;
}

/* Size Option */
.size-options .custom-control {
	display: inline-block;
	height: 40px;
	padding-left: 0;
	width: 40px;
}
.size-options.has-danger .custom-control {
	color: inherit;
}
.size-options .custom-control + .custom-control {
	margin-left: 0.25rem;
}
.size-options .custom-control.disabled {
	cursor: not-allowed;
	pointer-events: none;
}
.size-options .custom-control-indicator {
	background-color: transparent;
	border: 1px solid rgba(255,255,255,0.5);
	height: 100%;
	line-height: 38px;
	opacity: 0.7;
	text-align: center;
	transition: all .2s ease;
	width: 100%;
}
.size-options .custom-control:hover .custom-control-indicator {
	border-color: rgba(255,255,255,.85);
	opacity: 1;
}
.size-options .custom-control-input:disabled ~ .custom-control-indicator {
	background-color: transparent;
}
.size-options .custom-control-input:disabled ~ .custom-control-indicator:before {
	background: url("../img/icon-disabled.svg") no-repeat top left;
	content: "";
	display: block;
	height: 40px;
	left: 0;
	position: absolute;
	top: 0;
	width: 40px;
}
.size-options .custom-radio .custom-control-input:checked ~ .custom-control-indicator {
	background-image: none;
}
.size-options .custom-control-input:focus ~ .custom-control-indicator {
	box-shadow: none;
}
.size-options .custom-control-input:checked ~ .custom-control-indicator {
	background-color: #b64851;
	border-color: #b64851;
	opacity: 1;
}

/* Add to cart button */
#add-to-cart {
	background-color: #b64851;
	border-color: #b64851;
	position: relative;
	width: 240px;
}

#add-to-cart.disabled {
	cursor: default;
	opacity: .85;
}
#add-to-cart:focus {
	outline: none;
}
#add-to-cart .product-price {
	opacity: 1;
	transform: scale(1);
	transition: all 0.2s ease-in-out;
}
#add-to-cart .need-size,
#add-to-cart .buy-now {
	left: 50%;
	opacity: 0;
	position: absolute;
	top: 7px;
	transform: translateX(-50%) scale(0);
	transition: all 0.2s ease-in-out;
	visibility: hidden;
}
#add-to-cart:hover .product-price {
	opacity: 0;
	transform: scale(0);
}
#add-to-cart.disabled:hover .need-size,
#add-to-cart:not(.disabled):hover .buy-now {
	opacity: 1;
	transform: translateX(-50%) scale(1);
	visibility: visible;
}

/* Product Info Collapsible */
.product-info-collapsible .panel-title {
	border-bottom: 1px solid rgba(255,255,255,.3);
	font-size: 1.25rem;
	line-height: 1.5;
	padding-bottom: .5rem;
}
.product-info-collapsible .panel-collapse {
	border-bottom: 1px solid rgba(255,255,255,.3);
	margin-bottom: .5rem;
}
.product-info-collapsible .panel-title a {
	color: inherit;
	display: block;
}
.product-info-collapsible .panel-title a .product-info-icon {
	display: inline-block;
	margin-right: .5em;
	vertical-align: text-top;
}
.panel-sizing-info .panel-collapse {
	padding: 15px;
}

/* POST ENTRY / NEWS
-------------------------------------------------- */
.news-slider {
	position: relative;
	width: 100%;
}
.entry-thumb {
	margin-bottom: .5rem;
}
.entry-title,
.entry-cat,
.entry-date {
	font-size: 14px;
	line-height: 1.5;
	margin-bottom: 0;
}
.entry-title,
.entry-cat {
	font-size: 14px;
}
.entry-date,
.read-more {
	font-size: 12px;
}
.read-more, .read-more:hover {
	color: #b54851;
	font-style: italic;
}
.ob-pagecontent .page-title {
	margin-bottom: 1rem;
}
.cat-nav {
	font-size: 14px;
	margin-bottom: 2rem;
}
.cat-nav .label {
	color: #6c767d;
	margin-right: 1em;
}
.cat-nav .nav-link:before {
	color: #b64851;
	content: "\2022";
	font-family: Arial, Helvetica, sans-serif;
	margin-right: 10px;
}
.cat-nav .nav-link {
	color: #a3aaaf;
}
.cat-nav .nav-link:hover {
	color: #cccdcd;
}
.post-list .post {
	border-bottom: 1px dotted rgba(255,255,255,.3);
	margin-bottom: 2.75rem;
	padding-bottom: 2rem;
}
.post-list .post:last-of-type {
	border-bottom: none;
	margin-bottom: 0;
}
.post-summary .card {
	background: none;
	border: none;
	border-radius: 0;
}
.post-meta .list-group-item {
	background: none;
	border-color: rgba(255,255,255,.3);
	border-width: 1px 0 0;
	font-size: 14px;
	padding: 1.5rem 0;
}
.post-meta .author-avatar {
	margin-bottom: 0.5rem;
}
.post-meta .list-group-item:first-child {
	background: none;
	border-width: 0;
}
.post-summary {
	font-size: 14px;
}
.post-summary .post-title {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}
.blog-pagination a {
	padding: 1rem 0;
}
.blog-pagination a.disabled {
	cursor: not-allowed;
	opacity: .5;
	pointer-events: none;
}
.post-content .post {
}
.post-content .post-summary .post-title {
	font-size: 2rem;
	margin-bottom: 1.5rem;
}
.comments-title {
	border-bottom: 1px dotted rgba(255,255,255,.3);
	font-size: 1.5rem;
	line-height: 2;
	margin-bottom: 1rem;
}
.comment-list .comment-item {
	border-bottom: 1px dotted rgba(255,255,255,.3);
	padding: 1.5rem 40px 0.5rem;
}
.comment-list .comment-item ul.comment-children {
	margin-left: 55px;
}
.comment-list .comment {
	position: relative;
}
.comment .reply {
	position: absolute;
	right: 0;
	top: 0;
}
.comment-list .comment-children .comment-item {
	border-bottom: none;
	padding-left: 0;
	padding-right: 0;
}
.comment-item .avatar-holder {
	padding-right: 1.5rem;
}
.comment-reply-title {
	font-size: 1.5rem;
	line-height: 2;
	margin-bottom: 1rem;
}
.comment-respond .form-control {
	display: inline-block;
	max-width: 100%;
	width: auto;
}

/* GALLERY
-------------------------------------------------- */
#ob-gallery.row {
	margin-left: -10px;
	margin-right: -10px;
}
#ob-gallery .grid {
	max-width: 100%;
	overflow: hidden;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	width: 100%;
}
.nav-filter {
	margin: 1.5rem 0;
}
.nav-filter .nav-link {
	border: 1px solid rgba(255,255,255,.35);
	border-radius: .25rem;
	color: rgba(255,255,255,.5);
	letter-spacing: 1px;
	padding: 5px 16px 7px;
	text-transform: uppercase;
}
.nav-filter .nav-link:hover {
	border: 1px solid rgba(255,255,255,.5);
	color: rgba(255,255,255,.7);
}
.nav-filter .nav-link.active,
.nav-filter .nav-link.active:hover {
	background-color: #b54851;
	border-color: #b54851;
	color: #fff;
	pointer-events: none;
}
/* Loader */
.grid__loader {
	display: none;
	margin: 3em auto 0;
}
.grid--loading .grid__loader {
	display: block;
}

/* Grid items */
.grid__sizer,
.grid__item {
	float: left;
	padding: 10px;
	position: relative;
	width: 20%;
}
.no-touch .grid__sizer,
.no-touch .grid__item {
	padding: .75em .75em 1.25em;
}
.grid--loading .grid__item {
	visibility: hidden;
}
.grid__item--size-a {
	width: 40%;
}
.grid__item .img-thumb,
.lslide  .img-thumb,
.lSPager li a {
	background-color: rgba(255,255,255,0.15);
	margin-bottom: 0;
	position: relative;
}
.lSPager li a {
	display: block;
}
.grid__item .img-thumb .thumb-rollover,
.lslide .img-thumb .thumb-rollover {
	align-items: center;
	background-color: rgba(0,0,0,.5);
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	left: 0;
	position: absolute;
	top: 0;
	opacity: 0;
	transition: opacity .3s ease-in-out;
	width: 100%;
}
.grid__item .img-thumb:hover .thumb-rollover,
.lslide .img-thumb:hover .thumb-rollover {
	opacity: 1;
}
.grid__item .img-thumb .thumb-rollover .img-popup,
.lslide .img-thumb .thumb-rollover .img-popup {
	width: auto;
}
@media screen and (max-width: 65em) {
	.grid__sizer,
	.grid__item,
	.grid__item--size-a {
		width: 33.333%;
	}
}

@media screen and (max-width: 50em) {
	.grid__sizer,
	.grid__item,
	.grid__item--size-a {
		width: 50%;
	}
	.bar {
		padding-left: 0;
		text-align: left;
	}
}

@media screen and (max-width: 40em) {
	.bar {
		padding: .5em 4.5em .5em 0;
	}
	.flexbox .filter {
		-webkit-justify-content: space-around;
		justify-content: space-around;
	}
	.filter__item {
		height: 100%;
		padding: .5em .1em;
		border: none;
	}
	.filter__item .icon {
		display: inline-block;
	}
	.filter__label,
	.action__text {
		display: none;
	}
	.cart {
		padding: 0 1em;
	}
}

@media screen and (max-width: 25em) {
	.grid {
		max-width: 75%;
	}
	.grid__loader {
		margin: 0 auto;
	}
	.grid__sizer,
	.grid__item,
	.grid__item--size-a {
		width: 100%;
	}
}
/* WIDGET
-------------------------------------------------- */
.widget-area .widget:not(:last-child) {
	border-bottom: 1px dotted rgba(255,255,255,.3);
	margin-bottom: 30px;
	padding-bottom: 15px;
}
.widget-title {
	font-size: 18px;
	margin-bottom: 1.5rem;
}
.archives-widget .archives {
	font-size: 14px;
	list-style: none;
	padding-left: 0;
}
.archives-widget .archives li:before {
	color: #818a91;
	content: "\00BB";
	margin-right: 1em;
}
.archives-widget .archives li {
	padding: 3px 0;
}
.recent-widget .post-item {
	font-size: 14px;
}
.recent-widget .post-thumb {
	height: 70px;
	margin-right: 1em;
	padding-right: 0;
	width: 70px;
}
.recent-widget .post-title {
	font-size: 14px;
}
.recent-comment .commenter {
	line-height: 1.2;
	margin-bottom: 5px;
}

/* FOOTER
-------------------------------------------------- */
.ob-footer .container {
	padding-top: 15px;
}
.ob-footer > .container > .row {
	background-image: url("../img/bg-footer-row.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 805px auto;
}
.footer-col {
	padding-top: 15px;
	padding-bottom: 15px;
}
.footer-col.bottom-banner {
	/*background-image: url("../img/bg-bottom-banner.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 657px auto;*/
	padding-top: 36px;
}
.footer-col .widget-title {
	margin-bottom: .5rem;
}

/* Subscribe Form */
.subscribe .ob-form {
	margin-left: auto;
	margin-right: auto;
	max-width: 362px;
}
.subscribe .ob-form .form-control {
	background-color: transparent;
	border-color: #b54851;
	border-radius: 0;
	border-width: 0 0 1px;
	color: inherit;
}
.subscribe .ob-form .ob-submit {
	background: none;
	border: none;
	padding: 10px;
}
.subscribe .ob-form .ob-submit .ob-right-arrow {
	display: inline-block;
	vertical-align: middle;
}
.contact-form-section .form-wrapper {
	padding-top: 40px;
}
.contact-form-section .form-control:focus {
	border-color: #b54851;
}
.submit-btn {
	background-color: #b54851;
	border-color: #b54851;
	color: #fff;
	padding-left: 2rem;
	padding-right: 2rem;
}

/* Social Link */
.social-links .social-link-item {
	font-size: 18px;
	line-height: inherit;
}
.social-links .social-link-item a {
	align-items: center;
	color: inherit;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: auto;
	max-width: 196px;
	padding-bottom: 5px;
	padding-top: 5px;
	width: 85%;
}
@media (max-width: 991px) {
	.ob-footer .subscribe {
		order: 1;
	}
	.ob-footer .social-connect {
		order: 2;
	}
	.ob-footer .bottom-banner {
		order: 3;
	}
	.social-links .social-link-item a {
		margin-right: auto;
	}
}

/* Bottom Nav */
#bottom-nav .nav-link {
	color: inherit;
	font-size: 12px;
	margin-left: 0;
}
#bottom-nav .nav-link + .nav-link:before {
	color: #b54851;
	content: "|";
	margin-right: 10px;
}
